*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Roboto', sans-serif;
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img2/fondo\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}

.container-form{
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;

}

.welcome-back{
    display: flex;
    align-items: center;
    text-align: center;
}
.mensaje h2{
    font-size: 1.7rem;
    padding: 1rem 0;

}

.mensaje button{
    padding: 1rem;
    font-weight: 400;
    background-color: aqua;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: rgb(58, 59, 60);
}

